header h1 {
    width: 50%;
}

header div {
    width: 50%;
    margin-top: 0;
}

main {
    grid-template-columns: repeat(3, 1fr);
}

main article:nth-child(4), article:nth-child(6) {
    margin-top: 0;
}

main article:nth-child(2), article:nth-child(5) {
    margin-top: 48px;
}